<!doctype>
<link rel="stylesheet" href="https://rawgithub.com/shutterstock/rickshaw/master/rickshaw.min.css">
<script src="https://rawgithub.com/shutterstock/rickshaw/master/vendor/d3.min.js"></script>
<script src="https://rawgithub.com/shutterstock/rickshaw/master/vendor/d3.layout.min.js"></script>
<script src="https://rawgithub.com/shutterstock/rickshaw/master/rickshaw.min.js"></script>

<style>
.rickshaw_graph svg {
  background: #BEBEBE;
}
#chart_container {
        position: relative;
        font-family: Arial, Helvetica, sans-serif;
}
#chart {
        position: relative;
        left: 40px;
}
#y_axis {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 40px;
}
</style>

<h1><%= @station %></h1>

<div id="chart_container">
        <div id="y_axis"></div>
        <div id="chart"></div>
</div>

<script>
var graph = new Rickshaw.Graph( {
  element: document.querySelector("#chart"),
  width: 800,
  height: 400,
  min: 0,
  max: <%= @station.total_slots %>,
  // renderer: 'fill',
  interpolation: 'step-after',
  series: [ {
    data: <%= raw @readings.to_json %>,
    color: '#E3001B'
  } ]
} );

var x_axis = new Rickshaw.Graph.Axis.Time( { graph: graph } );

var y_axis = new Rickshaw.Graph.Axis.Y( {
    graph: graph,
    orientation: 'left',
    tickFormat: Rickshaw.Fixtures.Number.formatKMBT,
    element: document.getElementById('y_axis'),
} );

graph.render();

</script>
